<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SF6 Vue 3</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('index') }}
    </head>
    <body><main class="container"><div id="vue-app">{# Vue app live here #} </div></main></body>
</html>
